.xText {
  font-size: 3em;
  /*text-align: center;*/
}

g.tick .xText:hover {
  font-size: 3em;
  transform: rotate(0deg);
  transform: translate(60px, 40px);
  background-color: auto;
}

.d3-tip {
  border: 2px solid black;
  background: rgbA(66, 241, 244, 0.5);
  width: auto;
  font-size: 20px;
  padding: 3px
}
