<% include ../partials/header %>

<div class="container">
  <div class="row">
  <div class="jumbotron">
      <h1>Welcome to my Full Stack Javascript Voting Application</h1>
  </div>
  </div>
</div>
<div class="well"><a href="/votes">View Votes Created</a></div>

<% include ../partials/footer %>
